In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as py
import plotly.graph_objects as go

In [3]:
df=pd.read_csv('loan.csv')

C:\kosta\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning:

Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(2260668, 145)

In [130]:
df=df.dropna(axis=1,how='all')
#remove totally empty columns - id, member_id, loan_amnt'

In [112]:
for col in df.columns:
    print(col)
    #full printout of columns

loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
revol_bal_joint
sec_app_earliest_cr_line
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_acc
sec_app_revol_util
sec_app_open_act_il
sec_app_num_rev_accts
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
sec_app_mths_since_last_major_derog
hardship_flag
hardship_type
hardship_reason
hardship_status
deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
orig_projected_additional_accrued_interest
hardship_payoff_balance_amount
hardship_last_payment_amount
disbursement_method
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
settlement_term

In [113]:
df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=142)

In [8]:
lcdloanstats=pd.read_excel('LCDataDictionary.xlsx','LoanStats')

In [80]:
lcdloanstats

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

In [81]:
lcdloanstats['LoanStatNew']=lcdloanstats['LoanStatNew'].str.strip()

In [82]:
desc_columns=lcdloanstats.loc[lcdloanstats['LoanStatNew'].isin(df.columns)]

In [117]:
desc_columns

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower i...
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan...
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by th...
5,annual_inc_joint,The combined self-reported annual income provi...
6,application_type,Indicates whether the loan is an individual ap...
7,avg_cur_bal,Average current balance of all accounts
8,bc_open_to_buy,Total open to buy on revolving bankcards.
9,bc_util,Ratio of total current balance to high credit/...
10,chargeoff_within_12_mths,Number of charge-offs within 12 months
11,collection_recovery_fee,post charge off collection fee
12,collections_12_mths_ex_med,Number of collections in 12 months excluding m...
13,delinq_2yrs,The number of 30+ days past-due incidences of ...
14,delinq_amnt,The past-due amount owed for the accounts on w...
15,desc,Loan description provided by the borrower
16,dti,A ratio calculated using the borrowerâ€™s total ...
17,dti_joint,A ratio calculated using the co-borrowers' tot...
18,earliest_cr_line,The month the borrower's earliest reported cre...
19,emp_length,Employment length in years. Possible values ar...
20,emp_title,The job title supplied by the Borrower when ap...
23,funded_amnt,The total amount committed to that loan at tha...
24,funded_amnt_inv,The total amount committed by investors for th...
25,grade,LC assigned loan grade
26,home_ownership,The home ownership status provided by the borr...
28,il_util,Ratio of total current balance to high credit/...
29,initial_list_status,The initial listing status of the loan. Possib...
30,inq_fi,Number of personal finance inquiries
31,inq_last_12m,Number of credit inquiries in past 12 months
32,inq_last_6mths,The number of inquiries in past 6 months (excl...
33,installment,The monthly payment owed by the borrower if th...
34,int_rate,Interest Rate on the loan
35,issue_d,The month which the loan was funded
36,last_credit_pull_d,The most recent month LC pulled credit for thi...
39,last_pymnt_amnt,Last total payment amount received
40,last_pymnt_d,Last month payment was received
41,loan_amnt,The listed amount of the loan applied for by t...
42,loan_status,Current status of the loan
43,max_bal_bc,Maximum current balance owed on all revolving ...
45,mo_sin_old_il_acct,Months since oldest bank installment account o...
46,mo_sin_old_rev_tl_op,Months since oldest revolving account opened
47,mo_sin_rcnt_rev_tl_op,Months since most recent revolving account opened
48,mo_sin_rcnt_tl,Months since most recent account opened
49,mort_acc,Number of mortgage accounts.
50,mths_since_last_delinq,The number of months since the borrower's last...
51,mths_since_last_major_derog,Months since most recent 90-day or worse rating
52,mths_since_last_record,The number of months since the last public rec...
53,mths_since_rcnt_il,Months since most recent installment accounts ...
54,mths_since_recent_bc,Months since most recent bankcard account opened.
55,mths_since_recent_bc_dlq,Months since most recent bankcard delinquency
56,mths_since_recent_inq,Months since most recent inquiry.
57,mths_since_recent_revol_delinq,Months since most recent revolving delinquency.
58,next_pymnt_d,Next scheduled payment date
59,num_accts_ever_120_pd,Number of accounts ever 120 or more days past due
60,num_actv_bc_tl,Number of currently active bankcard accounts
61,num_actv_rev_tl,Number of currently active revolving trades
62,num_bc_sats,Number of satisfactory bankcard accounts
63,num_bc_tl,Number of bankcard accounts
64,num_il_tl,Number of installment accounts
65,num_op_rev_tl,Number of open revolving accounts
66,num_rev_accts,Number of revolving accounts
67,num_rev_tl_bal_gt_0,Number of revolving trades with balance >0
68,num_sats,Number of satisfactory accounts
69,num_tl_120dpd_2m,Number of accounts currently 120 days past due...
70,num_tl_30dpd,Number of accounts currently 30 days past due ...
71,num_tl_90g_dpd_24m,Number of accounts 90 or more days past due in...
72,num_tl_op_past_12m,Number of accounts opened in past 12 months
73,open_acc,The number of open credit lines in the borrowe...
74,open_acc_6m,Number of open trades in last 6 months
75,open_il_12m,Number of installment accounts opened in past ...
76,open_il_24m,Number of installment accounts opened in past ...
77,open_act_il,Number of currently active installment trades
78,open_rv_12m,Number of revolving trades opened in past 12 m...
79,open_rv_24m,Number of revolving trades opened in past 24 m...
80,out_prncp,Remaining outstanding principal for total amou...
81,out_prncp_inv,Remaining outstanding principal for portion of...
82,pct_tl_nvr_dlq,Percent of trades never delinquent
83,percent_bc_gt_75,Percentage of all bankcard accounts > 75% of l...
84,policy_code,publicly available policy_code=1\nnew products...
85,pub_rec,Number of derogatory public records
86,pub_rec_bankruptcies,Number of public record bankruptcies
87,purpose,A category provided by the borrower for the lo...
88,pymnt_plan,Indicates if a payment plan has been put in pl...
89,recoveries,post charge off gross recovery
90,revol_bal,Total credit revolving balance
91,revol_util,"Revolving line utilization rate, or the amount..."
92,sub_grade,LC assigned loan subgrade
93,tax_liens,Number of tax liens
94,term,The number of payments on the loan. Values are...
95,title,The loan title provided by the borrower
96,tot_coll_amt,Total collection amounts ever owed
97,tot_cur_bal,Total current balance of all accounts
98,tot_hi_cred_lim,Total high credit/credit limit
99,total_acc,The total number of credit lines currently in ...
100,total_bal_ex_mort,Total credit balance excluding mortgage
101,total_bal_il,Total current balance of all installment accounts
102,total_bc_limit,Total bankcard high credit/credit limit
103,total_cu_tl,Number of finance trades
104,total_il_high_credit_limit,Total installment high credit/credit limit
105,total_pymnt,Payments received to date for total amount funded
106,total_pymnt_inv,Payments received to date for portion of total...
107,total_rec_int,Interest received to date
108,total_rec_late_fee,Late fees received to date
109,total_rec_prncp,Principal received to date
110,total_rev_hi_lim,Total revolving high credit/credit limit
112,verification_status,"Indicates if income was verified by LC, not ve..."
114,zip_code,The first 3 numbers of the zip code provided b...
115,revol_bal_joint,Sum of revolving credit balance of the co-bor...
118,sec_app_earliest_cr_line,Earliest credit line at time of application f...
119,sec_app_inq_last_6mths,Credit inquiries in the last 6 months at time...
120,sec_app_mort_acc,Number of mortgage accounts at time of applic...
121,sec_app_open_acc,Number of open trades at time of application ...
122,sec_app_revol_util,Ratio of total current balance to high credit...
123,sec_app_open_act_il,Number of currently active installment trades...
124,sec_app_num_rev_accts,Number of revolving accounts at time of appli...
125,sec_app_chargeoff_within_12_mths,Number of charge-offs within last 12 months a...
126,sec_app_collections_12_mths_ex_med,Number of collections within last 12 months e...
127,sec_app_mths_since_last_major_derog,Months since most recent 90-day or worse rati...
128,hardship_flag,Flags whether or not the borrower is on a hard...
129,hardship_type,Describes the hardship plan offering
130,hardship_reason,Describes the reason the hardship plan was off...
131,hardship_status,"Describes if the hardship plan is active, pend..."
132,deferral_term,Amount of months that the borrower is expected...
133,hardship_amount,The interest payment that the borrower has com...
134,hardship_start_date,The start date of the hardship plan period
135,hardship_end_date,The end date of the hardship plan period
136,payment_plan_start_date,The day the first hardship plan payment is due...
137,hardship_length,The number of months the borrower will make sm...
138,hardship_dpd,Account days past due as of the hardship plan ...
139,hardship_loan_status,Loan Status as of the hardship plan start date
140,orig_projected_additional_accrued_interest,The original projected additional interest amo...
141,hardship_payoff_balance_amount,The payoff balance amount as of the hardship p...
142,hardship_last_payment_amount,The last payment amount as of the hardship pla...
143,disbursement_method,The method by which the borrower receives thei...
144,debt_settlement_flag,"Flags whether or not the borrower, who has cha..."
145,debt_settlement_flag_date,The most recent date that the Debt_Settlement_...
146,settlement_status,The status of the borrowerâ€™s settlement plan. ...
147,settlement_date,The date that the borrower agrees to the settl...
148,settlement_amount,The loan amount that the borrower has agreed t...
149,settlement_percentage,The settlement amount as a percentage of the p...
150,settlement_term,The number of months that the borrower will be...

In [16]:
df.loc[df.funded_amnt!=df.funded_amnt_inv]
#no unfunded loans and inv_ is bullshit redundant drop columns 'funded_amnt_inv', 'funded_amt'

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
25,15000,15000,14975.0,60 months,14.47,352.69,C,C2,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
38,6000,6000,5975.0,36 months,6.46,183.79,A,A1,Substance Abuse Counselor,1 year,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
46,7500,7500,7475.0,36 months,11.80,248.40,B,B4,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
47,7000,7000,6975.0,36 months,10.72,228.25,B,B2,Business Analyst,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
63,9000,9000,8975.0,36 months,6.46,275.68,A,A1,Driver,10+ years,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260629,12225,12225,12175.0,36 months,21.45,463.41,D,D5,Driver,10+ years,...,NaN,NaN,Cash,Y,Oct-2018,ACTIVE,Sep-2018,5381.26,45.0,24.0
2260632,16000,16000,15950.0,36 months,17.09,571.17,D,D1,pharmacist,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260633,30000,30000,29725.0,60 months,30.17,973.74,F,F3,Lead,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260642,32400,32400,32375.0,36 months,20.00,1204.11,D,D4,SHIPPING MANGER,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260644,35000,35000,34725.0,60 months,30.75,1148.55,F,F5,Desktop Support Technician,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
df.policy_code.describe()

count    2260668.0
mean           1.0
std            0.0
min            1.0
25%            1.0
50%            1.0
75%            1.0
max            1.0
Name: policy_code, dtype: float64

In [158]:
#keep 'purpose' - drop 'title', 'desc', 'policy'
df=df.drop(columns=['title','desc','policy_code','funded_amnt_inv','funded_amnt'])

In [85]:
brows_cols=[]
for col in df.columns:
    if col not in desc_columns.values:
        brows_cols.append(col)
brows_cols

['verification_status_joint']

In [77]:
df[brows_cols].isna().sum()

verification_status_joint    2144938
dtype: int64

In [115]:
df['verification_status_joint'].value_counts()
#only relevant where joint application

Not Verified       57403
Source Verified    34827
Verified           23500
Name: verification_status_joint, dtype: int64

In [14]:
#columns with no NaNs
df.dropna(axis='columns').columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'home_ownership',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'purpose', 'addr_state', 'revol_bal', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt', 'policy_code',
       'application_type', 'hardship_flag', 'disbursement_method',
       'debt_settlement_flag'],
      dtype='object')

In [89]:
df.dropna(axis='columns').describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,revol_bal,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,policy_code
count,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2260668.0
mean,1.504693e+04,1.504166e+04,1.502344e+04,1.309291e+01,4.458076e+02,1.665846e+04,4.446293e+03,4.445295e+03,1.182403e+04,1.180594e+04,9.300142e+03,2.386352e+03,1.462469e+00,1.360740e+02,2.259328e+01,3.364015e+03,1.0
std,9.190245e+03,9.188413e+03,9.192332e+03,4.832114e+00,2.671737e+02,2.294831e+04,7.547612e+03,7.546657e+03,9.889599e+03,9.884835e+03,8.304886e+03,2.663086e+03,1.150210e+01,7.258317e+02,1.271114e+02,5.971757e+03,0.0
min,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.500000e-09,0.000000e+00,0.000000e+00,0.000000e+00,1.0
25%,8.000000e+03,8.000000e+03,8.000000e+03,9.490000e+00,2.516500e+02,5.950000e+03,0.000000e+00,0.000000e+00,4.272580e+03,4.257730e+03,2.846180e+03,6.936100e+02,0.000000e+00,0.000000e+00,0.000000e+00,3.086400e+02,1.0
50%,1.290000e+04,1.287500e+04,1.280000e+04,1.262000e+01,3.779900e+02,1.132400e+04,0.000000e+00,0.000000e+00,9.060870e+03,9.043080e+03,6.823385e+03,1.485280e+03,0.000000e+00,0.000000e+00,0.000000e+00,5.884700e+02,1.0
75%,2.000000e+04,2.000000e+04,2.000000e+04,1.599000e+01,5.933200e+02,2.024600e+04,6.712632e+03,6.710320e+03,1.670797e+04,1.668257e+04,1.339750e+04,3.052220e+03,0.000000e+00,0.000000e+00,0.000000e+00,3.534965e+03,1.0
max,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,2.904836e+06,4.000000e+04,4.000000e+04,6.329688e+04,6.329688e+04,4.000000e+04,2.819250e+04,1.427250e+03,3.985955e+04,7.174719e+03,4.219205e+04,1.0

In [ ]:
#drop policy code - always 1

In [103]:
df.loc[df.funded_amnt_inv==0]

Empty DataFrame
Columns: [loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, ...]
Index: []

In [119]:
df.loan_status.value_counts(normalize=True)

Fully Paid                                             0.460904
Current                                                0.406824
Charged Off                                            0.115742
Late (31-120 days)                                     0.009686
In Grace Period                                        0.003960
Late (16-30 days)                                      0.001653
Does not meet the credit policy. Status:Fully Paid     0.000879
Does not meet the credit policy. Status:Charged Off    0.000337
Default                                                0.000014
Name: loan_status, dtype: float64

In [84]:
#keep 'purpose' - drop 'title', 'desc', 'policy'
df=df.drop(columns=['title','desc','policy','funded_amnt_inv','funded_amt'])

In [18]:
df_hardship=df.loc[df['hardship_status'].isna()==False]

In [20]:
df_hardship['loan_status'].value_counts()

Charged Off           3817
Current               3026
Late (31-120 days)    1663
Fully Paid            1518
In Grace Period        384
Late (16-30 days)      205
Name: loan_status, dtype: int64

In [21]:
df_hardship['hardship_status'].value_counts()

COMPLETED    7541
BROKEN       2187
ACTIVE        885
Name: hardship_status, dtype: int64

In [22]:
df_hardship.loc[df['loan_status']=='Charged Off']['hardship_status'].value_counts()

COMPLETED    2003
BROKEN       1813
ACTIVE          1
Name: hardship_status, dtype: int64

In [29]:
df['purpose'].value_counts()

debt_consolidation    1277877
credit_card            516971
home_improvement       150457
other                  139440
major_purchase          50445
medical                 27488
small_business          24689
car                     24013
vacation                15525
moving                  15403
house                   14136
wedding                  2355
renewable_energy         1445
educational               424
Name: purpose, dtype: int64

In [26]:
df['desc'].isna().sum()
#almost totally empty - redundant after purpose anyway

2134601

In [107]:
df.title.value_counts()
#redundant - use purpose

Debt consolidation                          1153293
Credit card refinancing                      469691
Home improvement                             137437
Other                                        127714
Major purchase                                44840
                                             ...
looking for relief                                1
Student/Personal Loan Debt Consolidation          1
BillPay                                           1
peice of mind                                     1
Vintage Truck Purchase                            1
Name: title, Length: 63155, dtype: int64

In [35]:
df.zip_code.value_counts().head(15)

112xx    23908
945xx    23782
750xx    23649
606xx    21192
300xx    20497
331xx    19051
070xx    18316
770xx    17719
891xx    17162
100xx    17103
330xx    16914
900xx    16909
104xx    16374
117xx    16109
917xx    15592
Name: zip_code, dtype: int64

In [122]:
df.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                      float64
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
desc                                           object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                   float64
earliest_cr_line                               object
inq_last_6mths                                float64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                      float64
pub_rec                                       float64
revol_bal                                       int64
revol_util                                    float64
total_acc                                     float64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                    float64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                float64
tot_coll_amt                                  float64
tot_cur_bal                                   float64
open_acc_6m                                   float64
open_act_il                                   float64
open_il_12m                                   float64
open_il_24m                                   float64
mths_since_rcnt_il                            float64
total_bal_il                                  float64
il_util                                       float64
open_rv_12m                                   float64
open_rv_24m                                   float64
max_bal_bc                                    float64
all_util                                      float64
total_rev_hi_lim                              float64
inq_fi                                        float64
total_cu_tl                                   float64
inq_last_12m                                  float64
acc_open_past_24mths                          float64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                      float64
delinq_amnt                                   float64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                          float64
mo_sin_rcnt_rev_tl_op                         float64
mo_sin_rcnt_tl                                float64
mort_acc                                      float64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                         float64
num_actv_bc_tl                                float64
num_actv_rev_tl                               float64
num_bc_sats                                   float64
num_bc_tl                                     float64
num_il_tl                                     float64
num_op_rev_tl                                 float64
num_rev_accts                                 float64
num_rev_tl_bal_gt_0                           float64
num_sats                                      float64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                  float64
num_tl_90g_dpd_24m                            float64
num_tl_op_past_12m                            float64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          float64
tax_liens                                     float64
tot_hi_cred_lim                               float64
total_bal_ex_mort                             float64
total_bc_limit                                float64
total_il_high_credit_limit                    float64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [149]:
#why idsn't this working, should flag 'policy_code'?
all_same=[]
for col in df.columns:
    if df[col].nunique==1:
        all_same.append(col)
all_same

[]

In [147]:
df.policy_code.nunique()==1

True

In [148]:
'policy_code' in df.columns

True

In [150]:
for col in df.columns:
    print(col, df[col].nunique())

loan_amnt 1572
funded_amnt 1572
funded_amnt_inv 10057
term 2
int_rate 673
installment 93296
grade 7
sub_grade 35
emp_title 512694
emp_length 11
home_ownership 6
annual_inc 89368
verification_status 3
issue_d 139
loan_status 9
pymnt_plan 2
desc 124501
purpose 14
title 63155
zip_code 956
addr_state 51
dti 10845
delinq_2yrs 37
earliest_cr_line 754
inq_last_6mths 28
mths_since_last_delinq 173
mths_since_last_record 129
open_acc 91
pub_rec 43
revol_bal 102251
revol_util 1430
total_acc 152
initial_list_status 2
out_prncp 364399
out_prncp_inv 377353
total_pymnt 1608272
total_pymnt_inv 1299089
total_rec_prncp 487427
total_rec_int 629835
total_rec_late_fee 17991
recoveries 127920
collection_recovery_fee 140449
last_pymnt_d 135
last_pymnt_amnt 692560
next_pymnt_d 105
last_credit_pull_d 140
collections_12_mths_ex_med 16
mths_since_last_major_derog 183
policy_code 1
application_type 2
annual_inc_joint 17633
dti_joint 4018
verification_status_joint 3
acc_now_delinq 9
tot_coll_amt 15574
tot_cur_bal 487688
open_acc_6m 19
open_act_il 54
open_il_12m 19
open_il_24m 31
mths_since_rcnt_il 405
total_bal_il 162249
il_util 280
open_rv_12m 29
open_rv_24m 50
max_bal_bc 33726
all_util 188
total_rev_hi_lim 34220
inq_fi 33
total_cu_tl 62
inq_last_12m 48
acc_open_past_24mths 57
avg_cur_bal 88597
bc_open_to_buy 91500
bc_util 1494
chargeoff_within_12_mths 11
delinq_amnt 2617
mo_sin_old_il_acct 566
mo_sin_old_rev_tl_op 787
mo_sin_rcnt_rev_tl_op 333
mo_sin_rcnt_tl 232
mort_acc 47
mths_since_recent_bc 546
mths_since_recent_bc_dlq 177
mths_since_recent_inq 26
mths_since_recent_revol_delinq 179
num_accts_ever_120_pd 44
num_actv_bc_tl 42
num_actv_rev_tl 57
num_bc_sats 60
num_bc_tl 76
num_il_tl 122
num_op_rev_tl 81
num_rev_accts 117
num_rev_tl_bal_gt_0 50
num_sats 91
num_tl_120dpd_2m 7
num_tl_30dpd 5
num_tl_90g_dpd_24m 34
num_tl_op_past_12m 33
pct_tl_nvr_dlq 690
percent_bc_gt_75 284
pub_rec_bankruptcies 12
tax_liens 42
tot_hi_cred_lim 529972
total_bal_ex_mort 212777
total_bc_limit 20309
total_il_high_credit_limit 194137
revol_bal_joint 56875
sec_app_earliest_cr_line 663
sec_app_inq_last_6mths 7
sec_app_mort_acc 23
sec_app_open_acc 67
sec_app_revol_util 1216
sec_app_open_act_il 40
sec_app_num_rev_accts 86
sec_app_chargeoff_within_12_mths 22
sec_app_collections_12_mths_ex_med 18
sec_app_mths_since_last_major_derog 140
hardship_flag 2
hardship_type 1
hardship_reason 9
hardship_status 3
deferral_term 1
hardship_amount 8950
hardship_start_date 26
hardship_end_date 27
payment_plan_start_date 26
hardship_length 1
hardship_dpd 34
hardship_loan_status 5
orig_projected_additional_accrued_interest 7313
hardship_payoff_balance_amount 10591
hardship_last_payment_amount 8795
disbursement_method 2
debt_settlement_flag 2
debt_settlement_flag_date 82
settlement_status 3
settlement_date 89
settlement_amount 21519
settlement_percentage 2045
settlement_term 40

In [153]:
df.hardship_length.value_counts()

3.0    10613
Name: hardship_length, dtype: int64

In [154]:
df.hardship_flag.value_counts()

N    2259783
Y        885
Name: hardship_flag, dtype: int64

In [155]:
df.hardship_type.value_counts()

INTEREST ONLY-3 MONTHS DEFERRAL    10613
Name: hardship_type, dtype: int64

In [156]:
df.loc[df['hardship_flag']=='Y']

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
95385,35500,35500,35500.0,60 months,28.72,1120.80,F,F1,Certified nursing assistant,< 1 year,OWN,36000.0,Source Verified,Oct-2018,Late (31-120 days),y,NaN,other,Other,110xx,NY,11.90,0.0,Nov-2012,0.0,NaN,NaN,9.0,0.0,11405,30.9,10.0,w,15809.97,15809.97,20933.35,20933.35,19690.03,1243.32,0.00,0.0,0.0,Feb-2019,378.39,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,74000.0,12.41,Source Verified,0.0,0.0,11405.0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,1.0,3.0,3238.0,31.0,36900.0,0.0,0.0,0.0,3.0,1267.0,9898.0,34.0,0.0,0.0,NaN,70.0,0.0,0.0,0.0,27.0,NaN,NaN,NaN,0.0,2.0,4.0,4.0,4.0,0.0,9.0,10.0,4.0,9.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,36900.0,11405.0,15000.0,0.0,25682.0,Aug-2007,1.0,0.0,7.0,64.6,0.0,12.0,0.0,0.0,NaN,Y,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,3.0,378.39,Feb-2019,Apr-2019,Feb-2019,3.0,22.0,Late (16-30 days),1135.17,15351.85,1045.41,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
272397,7000,7000,7000.0,36 months,20.39,261.54,D,D4,hoser,1 year,MORTGAGE,72000.0,Not Verified,Jun-2018,Late (31-120 days),n,NaN,home_improvement,Home improvement,571xx,SD,15.48,0.0,Mar-2001,1.0,35.0,NaN,10.0,0.0,3602,21.6,41.0,w,349.96,349.96,7122.51,7122.51,6650.04,472.47,0.00,0.0,0.0,Jan-2019,5.95,Mar-2019,Feb-2019,0.0,40.0,1,Individual,NaN,NaN,NaN,0.0,0.0,33714.0,2.0,3.0,3.0,4.0,1.0,30112.0,90.0,2.0,4.0,2019.0,67.0,16700.0,3.0,0.0,8.0,10.0,3371.0,9957.0,26.2,0.0,0.0,180.0,207.0,8.0,1.0,5.0,8.0,40.0,0.0,40.0,3.0,3.0,4.0,4.0,14.0,13.0,7.0,23.0,4.0,10.0,0.0,0.0,0.0,6.0,94.9,0.0,0.0,0.0,50061.0,33714.0,13500.0,33361.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,INTEREST ONLY-3 MONTHS DEFERRAL,EXCESSIVE_OBLIGATIONS,ACTIVE,3.0,5.95,Dec-2018,Feb-2019,Dec-2018,3.0,28.0,Late (16-30 days),17.85,424.11,165.99,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
345793,24000,24000,24000.0,36 months,7.34,744.79,A,A4,Patent Attorney,1 year,RENT,160000.0,Not Verified,Apr-2018,Late (31-120 days),y,NaN,debt_consolidation,Debt consolidation,088xx,NJ,32.18,0.0,Sep-2006,0.0,NaN,NaN,12.0,0.0,13741,17.4,23.0,w,19112.40,19112.40,6065.44,6065.44,4887.60,1177.84,0.00,0.0,0.0,Feb-2019,116.91,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,211702.0,0.0,4.0,2.0,2.0,8.0,197961.0,69.0,0.0,3.0,6066.0,41.0,79000.0,2.0,0.0,2.0,6.0,17642.0,65259.0,17.4,0.0,0.0,139.0,75.0,14.0,8.0,0.0,14.0,NaN,8.0,NaN,0.0,4.0,4.0,7.0,8.0,13.0,7.0,9.0,4.0,12.0,0.0,0.0,0.0,2.0,100.0,0.0,0.0,0.0,365006.0,211702.0,79000.0,280374.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,3.0,116.91,Feb-2019,Apr-2019,Feb-2019,3.0,7.0,In Grace Period,350.73,19256.58,138.61,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
346780,9600,9600,9600.0,36 months,18.45,349.24,D,D2,Technician,1 year,RENT,23920.0,Source Verified,Apr-2018,Late (31-120 days),y,NaN,car,Car financing,757xx,TX,18.77,0.0,Feb-2008,0.0,NaN,57.0,3.0,1.0,881,80.1,6.0,w,7897.35,7897.35,2774.24,2774.24,1702.65,1071.59,0.00,0.0,0.0,Jan-2019,349.24,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,6542.0,1.0,2.0,1.0,1.0,4.0,5661.0,50.0,0.0,0.0,881.0,53.0,1100.0,0.0,0.0,0.0,1.0,2181.0,219.0,80.1,0.0,0.0,122.0,44.0,25.0,4.0,0.0,25.0,NaN,NaN,NaN,0.0,1.0,1.0,1.0,1.0,4.0,1.0,2.0,1.0,3.0,0.0,0.0,0.0,1.0,100.0,100.0,1.0,0.0,12324.0,6542.0,1100.0,11224.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,3.0,121.43,Feb-2019,Apr-2019,Feb-2019,3.0,16.0,Late (16-30 days),364.29,8100.99,186.19,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
348105,20000,20000,20000.0,36 months,13.58,679.48,C,C2,Office Manager,1 year,RENT,32000.0,Verified,Apr-2018,Late (31-120 days),y,NaN,major_purchase,Major purchase,341xx,FL,10.77,2.0,Jun-1995,0.0,10.0,NaN,14.0,0.0,2430,21.5,20.0,w,16227.94,16227.94,5589.31,5589.31,3772.06,1783.28,33.97,0.0,0.0,Feb-2019,183.65,Mar-2019,Feb-2019,0.0,10.0,1,Individual,NaN,NaN,NaN,0.0,0.0,27829.0,0.0,6.0,0.0,0.0,25.0,25399.0,102.0,0.0,1.0,1429.0,77.0,11300.0,0.0,2.0,0.0,1.0,2141.0,5691.0,29.7,1.0,0.0,79.0,274.0,15.0,15.0,0.0,15.0,27.0,14.0,22.0,1.0,3.0,4.0,4.0,5.0,8.0,8.0,12.0,4.0,14.0,0.0,0.0,1.0,0.0,65.0,25.0,0.0,0.0,36300.0,27829.0,8100.0,25000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,3.0,183.65,Feb-2019,Apr-2019,Feb-2019,3.0,23.0,Late (16-30 days),550.95,16586.35,252.07,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2259078,15000,15000,15000.0,36 months,12.62,502.67,C,C1,Rn,10+ years,OWN,95000.0,Source Verified,Oct-2017,Late (31-120 days),y,NaN,credit_card,Credit card refinancing,358xx,AL,10.03,1.0,Apr-2008,0.0,12.0,NaN,21.0,0.0,17291,49.0,27.0,w,9828.10,9828.10,7188.34,7188.34,5171.90,1966.18,50.26,0.0,0.0,Feb-2019,103.36,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,61579.0,0.0,12.0,0.0,0.0,25.0,44288.0,106.0,0.0,2.0,3340.0,80.0,35300.0,0.0,7.0,0.0,2.0,3241.0,16180.0,35.3,0.0,0.0,113.0,105.0,13.0,13.0,0.0,13.0,NaN,NaN,12.0,0.0,3.0,5.0,4.0,4.0,14.0,9.0,13.0,5.0,21.0,0.0,0.0,0.0,0.0,96.3,50.0,0.0,0.0,77143.0,61579.0,25000.0,41843.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,INTEREST ONLY-3 MONTHS DEFERRAL,MEDICAL,ACTIVE,3.0,103.36,Jan-2019,Apr-2019,Feb-2019,3.0,20.0,Late (16-30 days),310.08,10028.39,136.04,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2259584,5000,5000,5000.0,36 months,16.02,175.84,C,C5,Feeder,10+ years,RENT,37000.0,Not Verified,Oct-2017,In Grace Period,n,NaN,other,Other,900xx,CA,12.93,0.0,Jul-2006,1.0,107.0,NaN,8.0,0.0,8514,42.6,15.0,w,3150.65,3150.65,2707.60,2707.60,1849.35,843.25,15.00,0.0,0.0,Feb-2019,190.84,Mar-2019,Feb-2019,0.0,107.0,1,Individual,NaN,NaN,NaN,0.0,65.0,13053.0,1.0,1.0,1.0,1.0,5.0,4539.0,91.0,2.0,5.0,5605.0,52.0,20000.0,0.0,0.0,2.0,6.0,1632.0,7686.0,52.6,0.0,0.0,109.0,134.0,8.0,5.0,0.0,8.0,107.0,0.0,107.0,1.0,4.0,4.0,6.0,9.0,4.0,7.0,11.0,4.0,8.0,0.0,0.0,0.0,3.0,93.3,50.0,0.0,0.0,25000.0,13053.0,16200.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,INTEREST ONLY-3 MONTHS DEFERRAL,MEDICAL,ACTIVE,3.0,42.07,Feb-2019,May-2019,Mar-2019,3.0,7.0,In Grace Period,126.21,3204.10,165.41,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2259872,40000,40000,40000.0,60 months,12.62,902.37,C,C1,Frontline Manager,6 years,MORTGAGE,128500.0,Source Verified,Oct-2017,Late (31-120 days),y,NaN,credit_card,Credit card refinancing,995xx,AK,31.12,0.0,Sep-1987,0.0,NaN,NaN,10.0,0.0,42958,70.4,26.0,w,32777.49,32777.49,12907.78,12907.78,7222.51,5685.27,0.00,0.0,0.0,Feb-2019,344.71,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,188500.0,25.32,Source Verified,0.0,0.0,527760.0,1.0,4.0,1.0,5.0,2.0,104770.0,89.0,1.0,1.0,13280.0,79.0,61000.0,2.0,11.0,4.0,7.0,52776.0,16620.0,67.4,0.0,0.0,149.0,360.0,10.0,2.0,4.0,10.0,NaN,0.0,NaN,0.0,4.0,5.0,4.0,7.0,11.0,5.0,11.0,5.0,10.0,0.0,0.0,0.0,2.0,100.0,50.0,0.0,0.0,592243.0,147728.0,51000.0,141623.0,95761.0,Apr-2005,0.0,4.0,8.0,91.7,1.0,7.0,0.0,0.0,NaN,Y,INTEREST ONLY-3 MONTHS DEFERRAL,INCOME_CURTAILMENT,ACTIVE,3.0,344.71,Jan-2019,Apr-2019,Feb-2019,3.0,5.0,In Grace Period,1034.13,33181.97,565.12,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2259928,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Branding and Communications Manager,10+ years,MORTGAGE,104000.0,Source Verified,Oct-2017,Late (31-120 days),y,NaN,credit_card,Credit card refinancing,750xx,TX,15.01,0.0,Sep-1989,0.0,49.0,NaN,9.0,0.0,13034,56.9,17.0,w,6543.85,6543.85,4790.82,4790.82,3456.15,1268.23,66.44,0.0,0.0,Feb-2019,65.39,Mar-2019,Feb-2019,0.0,69.0,1,Individual,NaN,NaN,NaN,0.0,0.0,99653.0,0.0,2.0,1.0,2.0,7.0,27984.0,76.0,0.0,0.0,6171.0,69.0,22900.0,2.0,0.0,3.0,2.0,11073.0,7660.0,59.7,0.0,0.0,93.0,112.0,26.0,7.0,3.0,26.0,NaN,7.0,NaN,1.0,3.0,5.0,4.0,6.0,5.0,6.0,8.0,5.0,9.0,0.0,0.0,0.0,1.0,88.2,50.0,0.0,0.0,150399.0,41018.0,19000.0,36999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,3.0,65.39,Jan-2019,Mar-2019,Jan-2019,3.0,29.0,Late (16-30 days),196.17,6690.19,100.77,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260109,10000,10000,10000.0,36 months,13.59,339.79,C,C2,Pastor,9 years,RENT,48000.0,Verified,Oct-2017,Late (31-120 days),y,NaN,vacation,Vacation,939xx,CA,27.63,0.0,Oct-1999,0.0,NaN,NaN,3.0,0.0,3480,99.4,25.0,f,6248.08,6248.08,5162.92,5162.92,3751.92,1394.01,16.99,0.0,0.0,Dec-2018,1036.36,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,80400.0,16.72,Not Verified,0.0,0.0,21901.0,0.0,1.0,0.0,0.0,44.0,18421.0,NaN,0.0,2.0,3480.0,99.0,3500.0,0.0,1.0,0.0,2.0,7300.0,20.0,99.4,0.0,0.0,215.0,171.0,21.0,21.0,0.0,21.0,NaN,NaN,NaN,0.0,1.0,1.0,2.0,11.0,6.0,2.0,19.0,1.0,3.0,0.0,0.0,0.0,0.0,92.0,50.0,0.0,0.0,43567.0,21901.0,3500.0,40067.0,18085.0,Nov-2002,0.0,0.0,2.0,33.0,0.0,23.0,0.0,0.0,50.0,Y,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,3.0,70.76,Feb-2019,Apr-2019,Feb-2019,3.0,20.0,Late (16-30 days),212.28,6388.12,5.59,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
df.application_type.value_counts(normalize=True)
#drop joint apps for simplicity - cut columns too

Individual    0.946604
Joint App     0.053396
Name: application_type, dtype: float64

Consider only loans granted to indivdual applicants for simplicity. These are by far the larger portion at almost 95% of all loans.<br>
this eliminates several columns that only relate to joint applications

In [159]:
df_ind=df.loc[df['application_type']=='Individual']
df_ind=df_ind.drop(columns=['application_type'])
df_ind=df_ind.dropna(axis=1,how='all')

In [160]:
df_ind.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=122)

In [164]:
for col in df.columns:
    if 'hardship' in col:
        print(col,df[col].notna().sum())

hardship_flag 2260668
hardship_type 10613
hardship_reason 10613
hardship_status 10613
hardship_amount 10613
hardship_start_date 10613
hardship_end_date 10613
hardship_length 10613
hardship_dpd 10613
hardship_loan_status 10613
hardship_payoff_balance_amount 10613
hardship_last_payment_amount 10613

In [167]:
df.loc[(df['hardship_flag']=='N')&(df['hardship_type'].notna())]

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
130968,40000,36 months,6.11,1218.88,A,A1,NaN,< 1 year,MORTGAGE,504000.0,Source Verified,Sep-2018,Current,n,debt_consolidation,324xx,FL,16.62,0.0,Jun-2002,0.0,NaN,NaN,11.0,0.0,0,0.0,26.0,w,37964.39,37964.39,3035.19,3035.19,2035.61,999.58,0.00,0.0,0.0,Feb-2019,1218.88,Mar-2019,Feb-2019,0.0,NaN,Joint App,624000.0,21.31,Source Verified,0.0,0.0,708046.0,1.0,8.0,0.0,5.0,14.0,193156.0,49.0,1.0,1.0,0.0,44.0,10400.0,0.0,3.0,0.0,6.0,70805.0,10400.0,0.0,0.0,0.0,193.0,195.0,6.0,6.0,5.0,6.0,NaN,14.0,NaN,0.0,0.0,0.0,2.0,2.0,16.0,2.0,5.0,0.0,11.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,918678.0,193156.0,10400.0,287828.0,154504.0,Apr-2003,1.0,4.0,8.0,98.6,5.0,3.0,0.0,0.0,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,NATURAL_DISASTER,COMPLETED,3.0,203.67,Oct-2018,Dec-2018,Oct-2018,3.0,0.0,Issued,611.01,40149.35,1.01,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
132095,22825,36 months,19.92,847.33,D,D3,NaN,NaN,OWN,106000.0,Verified,Sep-2018,Current,n,debt_consolidation,324xx,FL,37.93,1.0,Apr-2001,1.0,4.0,NaN,28.0,0.0,6434,41.5,40.0,w,21881.12,21881.12,2806.10,2806.10,943.88,1862.22,0.00,0.0,0.0,Feb-2019,847.33,Mar-2019,Feb-2019,0.0,NaN,Individual,NaN,NaN,NaN,0.0,2695.0,116973.0,1.0,17.0,2.0,2.0,4.0,110539.0,51.0,1.0,3.0,403.0,50.0,15500.0,2.0,7.0,4.0,5.0,4178.0,3191.0,11.4,0.0,0.0,209.0,152.0,10.0,4.0,0.0,19.0,NaN,1.0,4.0,0.0,2.0,4.0,2.0,2.0,27.0,11.0,13.0,4.0,28.0,0.0,0.0,0.0,3.0,92.3,0.0,0.0,0.0,183695.0,116973.0,3600.0,168195.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,NATURAL_DISASTER,COMPLETED,3.0,378.90,Oct-2018,Dec-2018,Oct-2018,3.0,0.0,Issued,1136.70,23090.22,1.21,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
148481,8000,36 months,18.94,293.01,D,D2,Customer Service Representative,1 year,MORTGAGE,36500.0,Verified,Sep-2018,Current,n,debt_consolidation,283xx,NC,39.59,0.0,Apr-2007,0.0,NaN,NaN,14.0,0.0,23181,61.3,26.0,w,7663.87,7663.87,956.41,956.41,336.13,620.28,0.00,0.0,0.0,Feb-2019,293.01,Mar-2019,Feb-2019,0.0,NaN,Individual,NaN,NaN,NaN,0.0,0.0,150387.0,1.0,3.0,1.0,2.0,6.0,47549.0,70.0,0.0,4.0,11512.0,64.0,37800.0,1.0,0.0,1.0,6.0,10742.0,3836.0,82.3,0.0,0.0,137.0,136.0,13.0,6.0,1.0,13.0,NaN,10.0,NaN,0.0,4.0,8.0,4.0,11.0,4.0,10.0,21.0,8.0,14.0,0.0,0.0,0.0,1.0,100.0,75.0,0.0,0.0,165285.0,70730.0,21700.0,40751.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,NATURAL_DISASTER,COMPLETED,3.0,126.27,Oct-2018,Dec-2018,Oct-2018,3.0,0.0,Issued,378.81,8096.80,292.83,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
192074,10000,36 months,15.02,346.76,C,C3,customer service,6 years,MORTGAGE,36200.0,Source Verified,Aug-2018,Current,n,debt_consolidation,317xx,GA,7.16,0.0,Oct-2009,1.0,31.0,NaN,8.0,0.0,13958,87.2,21.0,w,9326.85,9326.85,1390.71,1390.71,673.15,717.56,0.00,0.0,0.0,Feb-2019,346.76,Mar-2019,Feb-2019,0.0,43.0,Individual,NaN,NaN,NaN,0.0,0.0,185493.0,0.0,0.0,0.0,0.0,57.0,0.0,NaN,1.0,2.0,315.0,87.0,16000.0,0.0,1.0,4.0,3.0,46373.0,1407.0,29.7,0.0,0.0,101.0,106.0,10.0,10.0,3.0,15.0,NaN,3.0,43.0,2.0,2.0,3.0,6.0,7.0,8.0,7.0,10.0,3.0,8.0,0.0,0.0,0.0,2.0,66.7,0.0,0.0,0.0,189228.0,13958.0,2000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,NATURAL_DISASTER,COMPLETED,3.0,119.59,Nov-2018,Jan-2019,Nov-2018,3.0,0.0,Current,358.77,9649.70,346.43,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
200421,13000,36 months,23.40,505.95,E,E1,Academic Transition Teacher,2 years,MORTGAGE,64000.0,Verified,Aug-2018,Current,n,credit_card,317xx,GA,29.08,0.0,Nov-2003,0.0,35.0,NaN,37.0,0.0,20362,49.7,51.0,f,12227.78,12227.78,2214.73,2214.73,772.22,1442.51,0.00,0.0,0.0,Feb-2019,505.95,Mar-2019,Feb-2019,0.0,35.0,Individual,NaN,NaN,NaN,0.0,0.0,740003.0,1.0,28.0,2.0,4.0,8.0,614121.0,125.0,2.0,4.0,7587.0,112.0,41000.0,0.0,1.0,0.0,8.0,20000.0,12196.0,58.4,0.0,0.0,149.0,177.0,1.0,1.0,1.0,1.0,NaN,15.0,NaN,1.0,3.0,7.0,4.0,4.0,40.0,8.0,9.0,7.0,37.0,0.0,0.0,0.0,4.0,100.0,25.0,0.0,0.0,655755.0,634483.0,29300.0,487780.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,NATURAL_DISASTER,COMPLETED,3.0,243.56,Nov-2018,Jan-2019,Nov-2018,3.0,0.0,Current,730.68,12701.26,0.10,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2259896,18000,60 months,19.03,467.23,D,D3,Sales,3 years,RENT,45000.0,Verified,Oct-2017,Current,n,debt_consolidation,275xx,NC,11.44,0.0,Jun-2011,1.0,43.0,NaN,8.0,0.0,9891,69.2,12.0,w,15838.39,15838.39,6416.33,6416.33,2161.61,4254.72,0.00,0.0,0.0,Feb-2019,467.23,Mar-2019,Feb-2019,0.0,43.0,Individual,NaN,NaN,NaN,0.0,50.0,13502.0,1.0,1.0,1.0,1.0,10.0,3611.0,88.0,2.0,3.0,7819.0,73.0,14300.0,1.0,0.0,1.0,4.0,1688.0,4409.0,69.2,0.0,0.0,75.0,50.0,3.0,3.0,0.0,3.0,NaN,2.0,NaN,1.0,6.0,6.0,7.0,7.0,5.0,7.0,7.0,6.0,8.0,0.0,0.0,0.0,3.0,91.7,28.6,0.0,0.0,18401.0,13502.0,14300.0,4101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,NATURAL_DISASTER,COMPLETED,3.0,251.18,Oct-2018,Jan-2019,Nov-2018,3.0,13.0,In Grace Period,753.54,16198.39,17.30,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260194,36000,60 months,13.59,830.03,C,C2,Driver,6 years,MORTGAGE,100000.0,Source Verified,Oct-2017,Late (31-120 days),n,other,729xx,AR,23.94,0.0,Aug-2001,1.0,NaN,5.0,11.0,1.0,18473,47.9,18.0,w,29631.79,29631.79,11593.24,11593.24,6368.21,5225.03,0.00,0.0,0.0,Dec-2018,830.03,Mar-2019,Feb-2019,0.0,NaN,Individual,NaN,NaN,NaN,0.0,0.0,130342.0,0.0,4.0,0.0,1.0,13.0,50168.0,35.0,0.0,1.0,6166.0,41.0,38600.0,2.0,1.0,1.0,2.0,11849.0,18635.0,45.4,0.0,0.0,82.0,193.0,21.0,13.0,1.0,28.0,NaN,6.0,NaN,0.0,5.0,6.0,5.0,5.0,10.0,6.0,7.0,6.0,11.0,0.0,0.0,0.0,0.0,100.0,20.0,0.0,1.0,205870.0,68641.0,34100.0,87270.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,BROKEN,3.0,335.59,Jan-2019,Feb-2019,Feb-2019,3.0,22.0,Late (16-30 days),NaN,30254.96,563.43,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260207,20000,36 months,9.44,640.10,B,B1,NaN,NaN,OWN,40000.0,Verified,Oct-2017,Current,n,debt_consolidation,740xx,OK,0.60,0.0,Sep-1993,0.0,NaN,NaN,1.0,0.0,199,28.4,4.0,w,13971.26,13971.26,8103.36,8103.36,6028.74,2010.60,64.02,0.0,0.0,Feb-2019,109.91,Mar-2019,Feb-2019,0.0,NaN,Joint App,76000.0,25.22,Source Verified,0.0,0.0,199.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,199.0,28.0,700.0,0.0,1.0,0.0,0.0,199.0,501.0,28.4,0.0,0.0,NaN,288.0,110.0,110.0,0.0,130.0,NaN,NaN,NaN,0.0,1.0,1.0,1.0,3.0,0.0,1.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,700.0,199.0,700.0,0.0,28492.0,Sep-1993,0.0,0.0,11.0,89.7,3.0,14.0,0.0,0.0,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,FAMILY_DEATH,COMPLETED,3.0,109.91,Dec-2018,Feb-2019,Dec-2018,3.0,23.0,Late (16-30 days),329.73,13526.14,161.09,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260225,30000,60 months,9.44,629.18,B,B1,Senior Manager,1 year,MORTGAGE,139000.0,Verified,Oct-2017,Current,n,medical,852xx,AZ,5.38,0.0,Sep-2008,0.0,NaN,NaN,4.0,0.0,0,0.0,15.0,w,25295.54,25295.54,8300.51,8300.51,4704.46,3564.59,31.46,0.0,0.0,Feb-2019,629.18,Mar-2019,Feb-2019,0.0,NaN,Individual,NaN,NaN,NaN,0.0,0.0,392671.0,1.0,2.0,2.0,2.0,3.0,30576.0,89.0,1.0,2.0,0.0,53.0,23000.0,0.0,1.0,0.0,5.0,98168.0,23000.0,0.0,0.0,0.0,11.0,108.0,12.0,3.0,1.0,43.0,NaN,23.0,NaN,0.0,0.0,0.0,1.0,6.0,2.0,1.0,12.0,0.0,4.0,0.0,0.0,0.0,3.0,100.0,0.0,0.0,0.0,437410.0,30576.0,23000.0,34505.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,MEDICAL,COMPLETED,3.0,210.59,Jul-2018,Oct-2018,Aug-2018,3.0,11.0,In Grace Period,631.77,27060.54,326.45,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260604,18000,36 months,24.85,714.25,E,E3,Manager,3 years,RENT,57000.0,Not Verified,Oct-2017,Current,n,debt_consolidation,313xx,GA,25.92,0.0,Aug-2005,0.0,34.0,110.0,13.0,1.0,9468,43.0,26.0,f,13745.53,13745.53,9431.54,9431.54,4254.47,5141.36,35.71,0.0,0.0,Feb-2019,714.25,Mar-2019,Feb-2019,0.0,NaN,Individual,NaN,NaN,NaN,0.0,402.0,206653.0,1.0,6.0,2.0,2.0,4.0,197185.0,116.0,1.0,1.0,4033.0,81.0,22000.0,1.0,0.0,2.0,3.0,15896.0,2587.0,72.8,0.0,0.0,145.0,62.0,9.0,4.0,0.0,41.0,34.0,4.0,34.0,0.0,3.0,7.0,3.0,3.0,19.0,7.0,7.0,7.0,13.0,0.0,0.0,0.0,3.0,95.8,33.3,1.0,0.0,238485.0,206653.0,9500.0,216485.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,INCOME_CURTAILMENT,COMPLETED,3.0,295.13,Sep-2018,Dec-2018,Oct-2018,3.0,19.0,Late (16-30 days),885.39,14772.46,513.76,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

Hardship flg is busted but the hardship columns are consistently filled out where needed

In [171]:
df['hardship_amount'].notna().sum()/len(df)

0.004694630082789688

a tiny but potentially interesting part of hte dataset

In [174]:
df.initial_list_status.value_counts()

w    1535467
f     725201
Name: initial_list_status, dtype: int64

no idea what this means